.idea/

src/databases/imagefaces

src/databases/yalefaces

src/classificador/EigenFace.yml
src/classificador/EigenYale.yml
src/classificador/FisherFace.yml
src/classificador/FisherYale.yml
src/classificador/LBPHFace.yml
src/classificador/LBPHYale.yml